/*
************************************************************************
- ELEMENTS -
: Buttons, Logos, Icons, Form Elements, Lists
************************************************************************
*/

body {

}

button,
.button {
	font-size: rem(12px);
	padding: rem(13px) rem(20px) rem(13px) rem(20px);
	letter-spacing: 0.08em;
}

button.wide,
.button.wide {
	width: 100%;
}

button,
.button,
button.blue,
.button.blue {
	background-color: $picton-blue;
	border: 1px solid rgba(52, 73, 94, 0.2);
	color: $white;
}

button.grey,
.button.grey {
	background-color: lighten($black, 50%);
	border: 1px solid rgba(52, 73, 94, 0.2);
	color: $white;
}

button:hover,
.button:hover,
.button.blue:hover {
	background-color: darken($picton-blue, 10%);
	color: $white;
}

.button.green:hover {
	background-color: darken($fringy-flower, 10%);
	color: lighten($black, 30%);
}

button.grey:hover,
.button.grey:hover {
	background-color: lighten($black, 55%);
	color: lighten($black, 90%);
}

button.alert,
.button.alert {
	background-color: $punch;
	color: $white;
}

button.alert:hover,
.button.alert:hover {

}

[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error,
[data-abide] small.error {
	background: $lightning-yellow;
}

span.error,
small.error {
	background: transparent;
	color: $punch;
	font-style: normal;
	margin-top: rem(-15px);
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
	background-color: $picton-blue;
}

ul.pagination li.current a,
ul.pagination li.current button {
	background: $flamingo;
}

/** TABLE Styles **/
table tr:nth-of-type(even) {
	background: lighten($curious-blue, 35%);
}


.list-signup--services {
	li {
		display: inline-block;
		list-style: none;
		margin-left: rem(10px);
		margin-right: rem(10px);
		padding: rem(5px) rem(10px);
		@include border(rem(1px), solid, lighten($grey, 30%));
	}
}

.f-dropdown li a {
	text-align: left;
}

.info-icon {
	position: relative;
	display: block;
	width: rem(25px);
	height: rem(25px);
	border-radius: rem(25px);
	background-color: $curious-blue;

	.profile-tooltip {
		display: none;
	}

	.profile-tooltip:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-top-color: $fiord;
		border-width: 10px;
		margin-left: -10px;
	}
}

.info-icon:hover {
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);

	.profile-tooltip {
		display: block;
	}
}



.profile-tooltip {
	display: none;
	position: absolute;
	top: rem(-110px);
  	left: rem(-50px);
	z-index: 1;
	width: rem(130px);
	height: rem(100px);
	background-color: $fiord;
	padding: rem(10px);
	border-radius: rem(5px);
}

.hideit {
	display: none;
}

.showit {
	display: block;
}

.profile-tooltip p {
	color: $white;
	font-size: rem(12px);
	font-style: normal;
}

.profile-tooltip .fa {
	color: $fiord;
	position: absolute;
	bottom: rem(-18px);
	left: 42%;
	font-size: rem(30px);
}

.profile-school-name {
	height: rem(28px);
}

/** Main Header Styles **/
.main-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

/** Global Form Elements **/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
	border-color: $curious-blue;
	border-width: rem(2px);
}

/** Form Styles **/
.login-form {
	margin-top: rem(20px);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
.login-form input[type=email],
.login-form input[type=text],
.login-form input[type=password],
select {
	background-color: $loblolly;
	border-radius: rem(5px);
	padding-top: rem(5px);
	padding-bottom: rem(10px);
}

.login-form input[type=email]:focus,
.login-form input[type=text]:focus,
.login-form input[type=password]:focus,
select:focus,
select:hover {
	background-color: $loblolly;
}

select:hover {
	border: none;
}

/* Base for label styling */
.login-form [type="checkbox"] + label,
.login-form [type="checkbox"] + label {
	margin-left: rem(0px);
}

.login-form [type="checkbox"]:not(:checked),
.login-form [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.login-form [type="checkbox"]:not(:checked) + label,
.login-form [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.login-form [type="checkbox"]:not(:checked) + label:before,
.login-form [type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 2px;
	width: 19px;
	height: 19px;
	border: 1px solid $loblolly;
	background-color: $loblolly;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}

/* checked mark aspect */
.login-form [type="checkbox"]:not(:checked) + label:after,
.login-form [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: $picton-blue;
  transition: all .2s;
}
/* checked mark aspect changes */
.login-form [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.login-form [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.login-form [type="checkbox"]:disabled:not(:checked) + label:before,
.login-form [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.login-form [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.login-form [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.login-form [type="checkbox"]:checked:focus + label:before,
.login-form [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

/** PACE Styling **/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: darken($curious-blue, 10%);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px darken($curious-blue, 10%), 0 0 5px darken($curious-blue, 10%);
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: solid 2px transparent;
  border-top-color: darken($curious-blue, 10%);;
  border-left-color: darken($curious-blue, 10%);;
  border-radius: 30px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/** Activation Styles **/
.activation-text {
	margin-top: rem(20px);
	text-align: center;
}

/**Sidebar Styles**/
.left-off-canvas-menu {
	.logo {
		width: 50%;
		margin: rem(30px) auto;
	}
}

/** Home Styles **/
.sort-box-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sort-box-list li {
	padding: 1px;
	float: left;
	font-size: 4em;
	text-align: center;
	background-color: $fringy-flower;
	border: rem(1px) solid $flamingo;
}

/** ACCOUNT SETTINGS STYLES **/

/** Profile Styles **/


.profile-button button
.profile-button button.dropdown,
.profile-button .button.dropdown {
	display: flex;
	float: right;
	margin: rem(0px);
	padding-top: rem(10px);
	padding-right: rem(48px);
	padding-bottom: rem(7px);
	padding-left: rem(32px);
	background: $oil;

	&:hover,
	&:focus {
		background: darken($oil, 5%);
	}

	span {
		align-items: center;
	}

	.main-profile-picture {
		position: absolute;
		left: rem(0px);
		display: inline-block;
		overflow: hidden;
		width: rem(26px);
		height: rem(26px);
		border: 1px solid $white;
		border-radius: rem(25px);

		.fa {
			color: $white;
			font-size: rem(18px);
			line-height: rem(28px);
		}
	}

	.main-profile-name {
		display: inline-block;
		margin: rem(0px);
		margin-left: rem(10px);

		p {
			margin: rem(0px);
		}
	}

	.f-dropdown li a {
		text-align: left
	}
}

.profile-first-name,
.profile-last-initial {
	text-transform: capitalize;
}

.profile-item {
	/*text-align: center;*/
	margin-top: rem(50px) !important;
	/*width: rem(340px);*/
	width: rem(310px);
	height: rem(410px);
	margin-right: rem(10px);
	margin-left: rem(10px);
	float: left;
}

.add-button .profile-info {
	position: relative;
	background-color: lighten($black, 80%);
	text-align: center;
	cursor: pointer;
	/*padding-top: rem(110px);
	min-height: rem(527px);*/
}

.add-button .profile-info p {
	color: $white;
	font-size: rem(20px);
	line-height: rem(120px);
}

.add-button .profile-info a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.add-button .profile-info .add-plus-box {
	width: rem(130px);
	height: rem(130px);
	border-radius: rem(130px);
	background-color: lighten($black, 75%);
	margin: 0 auto;
	margin-bottom: rem(30px);
}

.add-button .profile-info .add-plus-box .fa {
	color: $white;
	font-size: rem(80px);
	line-height: 130px;
}

.profile-pic-holder,
.avatar-holder {
	width: rem(110px);
	height: rem(110px);
	overflow: hidden;
	border: 3px solid $curious-blue;
	border-radius: rem(110px);
	background-color: $white;
}

.profile-pic-holder {
	margin-bottom: rem(20px);
	/*margin: 0 auto;*/
	/*margin-top: rem(-70px);*/
}

.profile-code,
.profile-class-name,
.profile-name,
.profile-email {
	margin-bottom: rem(5px);
}

.profile-attempt-number {
	height: rem(44px);
}

.profile-last-seen-wrapper {
	text-align: right;
}

.profile-last-seen {
	height: rem(32px);
}

.profile-item-group {
	position: relative;
	border-bottom: rem(2px) solid $curious-blue;
	padding-top: rem(5px);
	padding-right: rem(10px);
	padding-left: rem(10px);
}

.profile-item-group .columns {
	padding: 0px;
}

.profile-item-group.no-padding {
	padding: rem(0px);
}

.profile-item-group .info-icon {
	position: absolute;
	bottom: rem(10px);
	right: rem(20px);
}

.profile-info,
.content-group--content {
	position: relative;
	background-color: $white;
	border-radius: rem(20px);
	/*box-shadow: inset 0 0px 0px $flamingo,0 5px 0px darken($flamingo, 10%);*/
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);

}

.profile-info {
	padding: rem(15px) rem(0px);
	height: 100%;
}

.profile-upgrade-cta {
	margin-bottom: rem(0px);
}

.profile-upgrade-cta a {
	display: inline-block;
	border: 1px solid $picton-blue;
	padding: rem(3px) rem(5px);
}

.content-group--content {
	padding: rem(20px) rem(30px);
	margin: 0 auto;
}

.content-group--content.red {
	border: rem(5px) solid $punch;
}

.content-group {
	margin-bottom: rem(25px);
}

.content-group--heading {
	background-color: lighten($grey, 45%);
	border: rem(1px) solid lighten($grey, 30%);
	border-radius: rem(3px) rem(3px) rem(0px) rem(0px);
	padding: rem(9px) rem(10px) rem(10px);
	margin-top: rem(0px);
	margin-bottom: rem(0px);
}

.content-group--heading {
	&.green {
		background-color: $fringy-flower;
	}

	&.red {
		background-color: $punch;
	}
}

.content-group.has-table {
	.content-group--content {
		padding: rem(0px);
		border: none;

		.wide-table {
			border-top: none;

			tr:nth-of-type(even) {
				background: lighten($chateau-green, 50%);
			}
		}
	}
}

/** Difficulty Meter **/
.difficuly-meter-box {

}

.difficuly-meter li,
.difficuly-label-list li {
	display: block;
	float: left;
	width: 20%;
}



.difficuly-meter {
	width: 100%;
	margin: rem(0px);
	border: 4px solid lighten($black, 30%);
	border-radius: rem(50px);
	overflow: hidden;
	margin-bottom: rem(20px);
}

.difficuly-meter li {
	
	height: rem(25px);
	border-right: 4px solid lighten($black, 30%);
}

.difficuly-meter li:first-child {
	background-color: $flamingo;
}

.difficuly-meter li:nth-child(2) {
	background-color: $crusta;
}

.difficuly-meter li:nth-child(3) {
	background-color: $sea-buckthorn;
}

.difficuly-meter li:nth-child(4) {
	background-color: $starship;
}

.difficuly-meter li:last-child {
	background-color: $harlequin;
	border-right: none;
}

.fa-check,
.fa-times {
	font-size: rem(24px);
}

.fa-check {
	color: $jade;
}

.fa-times {
	color: $crimson;
}


/** Results Styles **/
.indicator-holder {
	position: relative;
	width: rem(500px);
	margin: 0 auto;
	padding-bottom: rem(20px);
}

.indicator-list {
	position: relative;
	text-align: center;
	margin: rem(0px);
}

.indicator-list-item {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: $fiord;
	margin-right: 5%;
	margin-left: 5%;
	padding: 10px;
}

.indicator-list-item.active {
	/*background-color: $curious-blue;*/
}

.indicator-list-item:first-child {
	margin-left: rem(0px);
}

.indicator-list-item:last-child {
	margin-right: rem(0px);
}

.indicator-list-item:first-child.active {
	background-color: $curious-blue;
}

.indicator-list-item:nth-child(2).active {
	background-color: $purple;
}

.indicator-list-item:nth-child(3).active {
	background-color: $flamingo;
}

.indicator-list-item:nth-child(4).active {
	background-color: $candlelight;
}

.indicator-bar {
	position: absolute;
	top: rem(38px);
	left: rem(20px);
	display: block;
	height: 5px;
	width: rem(425px);
	background-color: $fiord;
}

.profile-bar {
	padding: rem(10px) rem(30px) rem(10px) rem(20px);
	border-bottom: rem(3px) solid $curious-blue;
}

.profile-bar .avatar-holder,
.profile-bar .nickname {
	/*float: left;*/
}

.profile-bar .avatar-holder {
	/*border: none;*/
	margin-right: rem(30px);
}

.profile-bar .nickname {
	/*margin-top: rem(20px);*/
	/*width: 70%;*/
}

.profile-bar .profile-name {
	margin-top: rem(0px);
	padding-top: rem(0px);
}

.results-container {
	background-color: $white;
	border-radius: rem(20px);
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);
}

.results-container ul.pagination {
	display: inline-block;
}

table.results-table {
	border: none;
	width: 100%;
}

.table-label-cell {
	position: relative;
}

.table-label-cell .info-icon {
	position: absolute;
	right: 0;
}

.table-label-cell .info-icon, {
	top: 10px;
}

.results-table-name {
	padding-left: 50px;
}

/*.results-more-column {
	padding-right: 10px;
}*/

.results-table thead tr th {
	/*border-top: rem(3px) solid $curious-blue;*/
	padding-left: rem(50px);
}

.result-table-desc {
	padding-right: 5%;
	padding-left: 5%;
	border-bottom: rem(3px) solid $curious-blue;
}

.results-btn-holder {
	padding-top: rem(20px);
}

.button.btn-more-results {
	padding: 6px 25px;
	text-transform: uppercase;
	font-family: 'museo-sans', sans-serif;
	font-size: 16px;
	border: none;
	margin-bottom: rem(0px);
}

.button.btn-more-results .fa {
	display: none;
}

.results-info-column {
	position: relative;
}



/** Vanese Results Classes **/
ul.pagination > li > a { color: #333 }
.pagination .active a { background-color: #2B91D6; color: #fff; font-weight: bold;}

.breadcrumbs {
	margin-left: 0px;
  	padding: 8px 15px;
  	margin-bottom: 20px;
  	list-style: none;
  	background-color: $alto;
  	border: none;
  	border-radius: 4px;
}
.pull-left, .pull-left > li { float: left !important; }

/** Edit Profile Form Styles **/
.edit-profile-form {
	font-family: 'museo-sans', sans-serif;
}

/** Modal Styles **/
.reveal-modal {
	padding: rem(20px);
	border-radius: rem(20px);
}

.reveal-modal .close-reveal-modal {
	top: auto;
	bottom: rem(-50px);
}

.reveal-modal .close-reveal-modal a {
	font-size: rem(36px);
	color: $white;
	font-size: rem(16px);
}

.reveal-modal-bg {
	background: rgba(43, 145, 214, 0.7);
}

/** Forgot Password **/
.forgot-after {
	margin-top: rem(30px);
}
