@media #{$small-only} {
	.top-bar-section ul.menu-items-list {
		display: none;
	}

	.top-bar-section ul li>a {
		font-size: 16px;
	}

	.top-bar button {
		font-size: 14px;
	}

	.page1 {
		background-position: left;
	}

	.page1.section {
		padding-bottom: 200px;
	}

	/*Page2 Styles*/
	.interested-kid,
	.page-info-bottom-bar {
		position: relative;
	}

	.interested-kid {
		width: 50%;
		bottom: -222px;
		right: -50%;
	}

	.page-info-bottom-bar {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.page-info-bottom-bar,
	.newsletter-opt-in,
	.page6 .intro {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.page2 .intro,
	.page3 .intro,
	.page5 .intro,
	.page6 .intro {
		padding-top: 0px;
	}

	.page5 .intro h1 {
		text-align: center;
	}

	.page-info-bottom-bar p {
		font-size: 16px;
		margin-bottom: 0px;
	}

	/*Page3 Styles*/
	.enthusiastic-teacher,
	.peekaboo-zzm {
		position: relative;
		width: 100%;
	}

	.enthusiastic-teacher {
		
		bottom: -28px;
    	right: 0px;
	}

	/*Footer Styles*/
	.page6 footer {
		position: relative;
	}

	.full-page .section {
		padding-top: 50px;
	}

	.section {
		/*padding-right: 10px;
		padding-left: 10px;*/
	}

	.btn-launch-orange,
	.btn-launch-green {
		padding: 15px 30px;
	}

	.page1 .btn-launch-orange {
		margin-bottom: 200px;
	}

	.page2 h1 {
		font-size: 25px;
	}

	.testimonial-list {
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 20px;
	}

	.page3.section {
		padding-bottom: 200px;
	}

	.page3 .intro {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}

	.page3 .page-info-bottom-bar {
		bottom: -200px;
	}

	.page4 .intro {
		text-align: center;
		padding-top: 5%;

		.btn-launch-green {
			margin: 0 auto;
		}

		.intro-subline {
			margin-top: 20px;
		}
	}

	.peekaboo-zzm {
		right: auto;
		bottom: auto;
		width: 60%;
    	margin: 0 auto;
	}

	.enthusiastic-teacher {
		bottom: -50px;
	}

	.page5 form {
		margin-bottom: 30px;
	}

	.page5 h1 {
		text-align: center;
	}

	.page5 h3 {
		margin-top: 60px;
	}

	.menu-items-list li {
		text-align: center;
	}

	.menu-items-list li button {
		margin-bottom: 20px;
	}

	.footer-info-column {
		text-align: center;
	}

	footer p {
		margin-top: 20px;
	}

	.footer-follow {
		padding-top: 30px;
	}

	.connect-list {
		margin-left: 0px;
	}

	.page6 .link-bar ul {
		margin-left: 0px;
	}

	/* Header Banner Styles */
	.asteroids {
		width: 40%;
		top: 10px;
	}

	.asteroids-orange {
		width: 50%;
		height: 200px;
	}

	.comet-flight {
		top: auto;
		bottom: 26px;
		left: 10px;
	    width: 264px;
	    height: 310px;
	}

	.asteroids-dark {
		top: 30%;
	}

	.page6 .copyright {
		margin-bottom: 0px;
		padding-bottom: 10px;
	}

}


@media #{$medium-only} {
	.page1 .intro {
		padding-top: 30%;
	}

	.btn-launch-orange,
	.btn-launch-green,
	.btn-orange {
		padding: 15px 30px;
	}

	.page1 .btn-launch-orange {
		margin-bottom: 200px;
	}

	.page2 .intro {
		padding-top: 50px;
	}

	.testimonial-list {
		padding-top: 0px;
	}

	.interested-kid {
		position: relative;
		width: 50%;
		bottom: -222px;
		right: -50%;
	}

	.page3 .intro {
		padding-top: 80px;
		text-align: center;
	}

	.page3.section {
		padding-bottom: 320px;
	}

	.page-info-bottom-bar p {
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.page4 .intro {
		text-align: center;
		padding-top: 10%;
		padding-bottom: 165px;

		.btn-launch-green {
			margin: 0 auto;
		}

		.intro-subline {
			margin-top: 20px;
		}
	}

	.peekaboo-zzm {

		bottom: -40px;
		width: 70%;
	}

	.enthusiastic-teacher {
		position: relative;
		right: auto;
		left: -75px;
		bottom: 47px;
		width: 80%;
	}

	.page5 .intro {
		padding-left: 10px;
		padding-right: 10px;
	}

	.page5 h1 {
		text-align: center;
	}

	.page5 h3 {
		margin-top: 70px;
	}

	.slide-holder{
		left: 3%;
		width: 90%;
	}

	.form-get-notified button {
		width: 100%;
	}

	.page6 footer {
		position: relative;
	}

	.page6 .intro {
		padding-top: 50px;
	}

	.page6 .copyright {
		margin-bottom: 0px;
		padding-bottom: 10px;
	}

	.newsletter-opt-in {
		margin-bottom: 40px;
	}

	.footer-info-column p {
		font-size: 16px;
		margin-top: 10px;
	}

	.connect-list {
		text-align: center;
	}
}