@media #{$small-only} {
	.page-content-wrapper {
		padding-right: rem(10px);
		padding-left: rem(10px);
	}

	.title {
		position: relative;
	}

	.title .plan-label {
		position: absolute;
		line-height: rem(16px);
	}

	.profile-item {
		width: 95%;
	}

	.profile-bar {
		padding: rem(10px);
	}

	.profile-bar .avatar-holder,
	.profile-bar .nickname {
		float: none;
	}

	.profile-bar .avatar-holder {
		margin: 0 auto;
	}

	.profile-bar .nickname {
		width: 100%;
	}

	.profile-bar .text-right {
		text-align: left !important;
	}

	.star-group.small {
		display: none;
	}
	
	/** Results Styles **/
	.progress {
		border: none;
		background-color: transparent;
		margin-bottom: rem(0px);
	}

	.progress .meter {
		display: none;
	}

	.progress .meter-percentage {
		position: relative;
		color: $curious-blue;
	}


	.button.btn-more-results {
		padding: rem(6px) rem(15px);
	}

	.button.btn-more-results span {
		display: none;
	}

	.button.btn-more-results .fa {
		display: block;
	}

	.indicator-holder {
		width: rem(285px);
		margin: 0 auto;
	}

	.indicator-list-item {
		width: rem(50px);
		height: rem(50px);
		border-radius: rem(50px);
		margin-right: 4%;
		margin-left: 4%;
	}

	.indicator-bar {
		top: rem(22px);
		left: 2px;
		width: 98%;
	}
}

@media #{$medium-up} {
	.breadcrumbs {
		padding-left: rem(310px);
	}

	.page-content-wrapper {
		padding-left: rem(300px);
		padding-top: rem(100px);
	}

	.reveal-modal {
		width: 50%;
	}
	
}

@media #{$medium-only} {
	.left-sidebar .left-sidebar-list {
		width: rem(45px);
		overflow: hidden;
	}

	.left-sidebar-list li a .fa {
		display: inline-block;
		margin-right: rem(20px);
	}

	.left-sidebar label {
		padding-left: rem(50px);
	}

	.page-content-wrapper {
		padding-left: rem(100px);
	}
}

@media #{$large-only} {
	.left-sidebar:hover {
		.left-sidebar-list {
			width: rem(225px);
		}

		label {
			padding-left: rem(20px);
			transition: padding-left 0.1s ease;
		}
	}

	.left-sidebar .left-sidebar-list {
		width: rem(45px);
		overflow: hidden;
	}

	.left-sidebar-list li a .fa {
		display: inline-block;
		margin-right: rem(20px);
	}

	.left-sidebar label {
		padding-left: rem(50px);
	}

	.page-content-wrapper {
		padding-left: rem(100px);
	}
}