@media #{$small-only} {
	.page-content-wrapper {
		padding-right: rem(10px);
		padding-left: rem(10px);
	}

	.title {
		position: relative;
	}

	.title .plan-label {
		position: absolute;
		line-height: rem(16px);
	}

	.profile-item {
		width: 95%;
	}

	.profile-bar {
		padding: rem(10px);
	}

	.profile-bar .columns {
		padding: 0px;
	}

	.profile-bar .avatar-holder,
	.profile-bar .nickname {
		float: none;
	}

	.profile-bar .avatar-holder {
		margin: 0 auto;
	}

	.profile-bar .profile-name,
	.profile-bar .profile-nickname,
	.profile-bar .profile-code,
	.profile-bar .profile-school-name,
	.profile-bar .profile-school-grade,
	.profile-bar .profile-last-seen-wrapper {
		text-align: center;
	}

	.profile-bar .profile-name {
		line-height: rem(36px);
		margin-bottom: rem(10px);
	}

	.profile-bar .nickname {
		width: 100%;
	}

	.profile-bar .text-right {
		text-align: left !important;
	}

	.star-group.small {
		display: none;
	}

	.profile-name{
		font-size: rem(20px);
	}

	.profile-nickname {
		font-size: rem(18px);
	}
	
	/** Results Styles **/
	.progress {
		border: none;
		background-color: transparent;
		margin-bottom: rem(0px);
	}

	.progress .meter {
		display: none;
	}

	.progress .meter-percentage {
		position: relative;
		color: $curious-blue;
		top: 0;
		left: 0;
		color: $white;
	}


	.button.btn-more-results {
		padding: rem(6px) rem(15px);
		margin-right: rem(10px);
	}

	.button.btn-more-results span {
		display: none;
	}

	.button.btn-more-results .fa {
		display: block;
	}

	.indicator-holder {
		width: rem(285px);
		margin: 0 auto;
	}

	.indicator-list-item {
		width: rem(50px);
		height: rem(50px);
		border-radius: rem(50px);
		margin-right: 4%;
		margin-left: 4%;
	}

	.indicator-bar {
		top: rem(22px);
		left: 2px;
		width: 98%;
	}

	.results-table tr td {
		padding-left: rem(10px);
		padding-right: rem(10px);
	}

	.results-table-name {
		padding-left: 10px;
	}

	.profile-school-name,
	.profile-last-seen,
	.results-table-name {
		font-size: rem(16px);
	}

	/*.results-more-column {
		padding-right: 10px;
	}*/

	/*Difficulty Bar Styles*/
	.difficuly-meter {
		width: 20%;
		height: rem(150px);
		float: left;
	}

	.difficuly-label-list {
		float: right;
		width: 75%;
		margin: 0;
		/*margin-left: rem(15px);*/
		margin-top: rem(10px);
	}

	.difficuly-meter li,
	.difficuly-label-list li {
		float: none;
	}

	.difficuly-label-list li {
		width: 100%;
		text-align: left;
		line-height: rem(27px);
	}

	.difficuly-meter li {
		width: 120%;
		height: 20%;
	}

	.breadcrumb li a {
		padding: 10px 0 10px 50px;
	}
}

@media #{$medium-up} {
	.breadcrumbs {
		padding-left: rem(310px);
	}

	.page-content-wrapper {
		/*Uncomment 'padding-left' when sidebar menu is not hidden*/
		/*padding-left: rem(300px);*/
		padding-top: rem(100px);
	}

	.reveal-modal {
		width: 50%;
	}
	
}

@media #{$medium-only} {
	.left-sidebar .left-sidebar-list {
		width: rem(45px);
		overflow: hidden;
	}

	.left-sidebar-list li a .fa {
		display: inline-block;
		margin-right: rem(20px);
	}

	.left-sidebar label {
		padding-left: rem(50px);
	}

	.page-content-wrapper {
		/*Uncomment 'padding-left' when sidebar menu is not hidden*/
		/*padding-left: rem(100px);*/
	}
}

@media #{$large-only} {
	.left-sidebar:hover {
		.left-sidebar-list {
			width: rem(225px);
		}

		label {
			padding-left: rem(20px);
			transition: padding-left 0.1s ease;
		}
	}

	.left-sidebar .left-sidebar-list {
		width: rem(45px);
		overflow: hidden;
	}

	.left-sidebar-list li a .fa {
		display: inline-block;
		margin-right: rem(20px);
	}

	.left-sidebar label {
		padding-left: rem(50px);
	}

	.page-content-wrapper {
		/*Uncomment 'padding-left' when sidebar menu is not hidden*/
		/*padding-left: rem(100px);*/
	}
}