/*
************************************************************************
- UTILITIES -
: Functions, Mixins, Placeholers
************************************************************************
*/

/* Import if Google Fonts URL is defined */
@if variable-exists(font-url--google){
	@import url($font-url--google);
}

/* Functions and Directives */
@function rem($target, $context: $base__font-size){
	@return ($target / $context) *1rem;
}

/* Call color palette modifiers */
@function palette($palette, $shade:'base') {
	@return map-get(map-get($palettes, $palette), $shade);
}

/* Mixins */
@mixin bg-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme}{
			background-color: $color;
		}
	}
}

@mixin border($border-width, $border-style, $border-color){
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-box($width, $padding) {
  width: $width;
  margin: 0 auto;
  padding: $padding;
}

/* Media Queries */
$mobile-width: 480px;
$tablet-width: 640px;

$desktop-width: 1024px;

$large-range: (64.063em, 80em);
$xlarge-range: (80.063em, 120em);

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
