/*Navigation*/
.top-bar, .top-bar ul {
    background-color: #33485c; 
}
.menu > li > a {
    color: #fff;
}
.menu .active > a {
    background-color: #e74c3c;
}

/*Main content*/
.main {
    padding-top: 1rem;
}
h2.docs {
    font-family: monospace;
}
td .fa {
    color: #33485c;  
}
td.url {
    font-family: monospace;
}
